spring:
  application:
    name: polls
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

    jpa:
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        ddl-auto: update # validate | update | create | create-drop
      show-sql: true
      properties:
        hibernate:
          format_sql: true
