#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container-enter-button {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-control input {
  width: 100%;
  padding: 12px 0px 12px 11px;
}

.container-form-poll {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.poll-list {
    display: flex;
    gap: 1rem;
}

.poll-list-item {
    border: #888888 solid 1px;
    border-radius: 3px;
    width: 100px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-vote {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vote-btn {
    display: flex;
    justify-content: space-around;
}

.header-actions {
    display: flex;
    justify-content: space-between;
}